@model PagedList<NongSanDungHa.Models.ADO.admin_account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@using PagedList;
@using PagedList.Mvc;

<h2>Tài khoản quản trị viên</h2>


<div class="d-flex w-100 justify-content-between mb-3">
    <a class="btn btn-success" href="@Url.Action("CreateNew")"><i class="fas fa-plus"></i></a>

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/Admin/AccountAdmin/SearchResult" method="get">
        <div class="input-group">
            <input type="search" class="form-control bg-light border-0 small" placeholder="Nhập vào tên đăng nhập"
                   aria-label="Search" aria-describedby="basic-addon2" name="searchKey">
            <div class="input-group-append">
                <button class="btn btn-primary" style="background-color: #52a851;" type="submit" name="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <p style="text-align:right">Tổng số tài khoản: @ViewBag.ToTalAdmin</p>
</div>

<div class="alert alert-danger" id="alert_delete_failed" style="display:none" role="alert">
    Xóa thất bại do dữ liệu có thể đang được sử dụng
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tài khoản")
        </th>
        <th>
            @Html.DisplayName("Mật khẩu")
        </th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_password)
                </td>
                <td>
                    <button type="button" name="View" data-bs-toggle="modal" onclick="return Admin_Details(@item.admin_account_id)" data-bs-target="#ModalView" class="btn btn-success me-1"><i class="fas fa-eye"></i></button>
                    <a class="btn btn-warning me-1" href="/Admin/AccountAdmin/Edit/@item.admin_account_id"><i class="fas fa-edit"></i></a>
                    
                    <a class="btn btn-danger" href="/Admin/AccountAdmin/Delete/@item.admin_account_id"><i class="fas fa-trash-alt"></i> </a>
                  
                </td>
            </tr>
        }
    }


</table>
<div class="modal fade" id="ModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayName("Username")
                    </dt>
                    <dd>
                        <input type="hidden" id="user_id" />
                        <input type="text" id="username" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Password")
                    </dt>
                    <dd>
                        <input type="text" id="password" class="form-control" />
                    </dd>
                   
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" name="save" id="btn-savechanges" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" style="display: flex;justify-content:center;align-items:center">
    <ul class="pagination ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>
