@model PagedList<NongSanDungHa.Models.ADO.admin_account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@using PagedList;
@using PagedList.Mvc;

<h2>Tài khoản quản trị viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "CreateNew")
</p>
<p>
    Tổng tài khoản: @ViewBag.TotalAdmin
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tài khoản")
        </th>
        <th>
            @Html.DisplayName("Mật khẩu")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin_password)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.admin_account_id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.admin_account_id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.admin_account_id })
            </td>
        </tr>
    }

</table>
<nav aria-label="Page navigation example" style="display: flex;justify-content:center;align-items:center">
    <ul class="pagination ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>
