﻿@model IEnumerable<NongSanDungHa.Models.ADO.admin_account>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>SearchResult</h2>
<div class="col-md-12 mb-4">
    <h1 style="color: #28a745">Bạn tìm tài khoản: "@ViewBag.searchKey"</h1>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin_password)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.admin_account_id }, new { @class = "fas fa-edit btn btn-warning me-1" })
                <button type="button" name="View" data-bs-toggle="modal" onclick="return Admin_Details(@item.admin_account_id)" data-bs-target="#ModalView" class="btn btn-success me-1"><i class="fas fa-eye"></i></button>
                @Html.ActionLink(" ", "Delete", new { id = item.admin_account_id }, new { @class = "fas fa-trash-alt btn btn-danger me-1" })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

<div class="modal fade" id="ModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayName("Username")
                    </dt>
                    <dd>
                        <input type="hidden" id="user_id" />
                        <input type="text" id="username" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Password")
                    </dt>
                    <dd>
                        <input type="text" id="password" class="form-control" />
                    </dd>

                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" name="save" id="btn-savechanges" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>