@model IEnumerable<NongSanDungHa.Models.ADO.user_order_product>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<h2>Chi tiết</h2>
<h2>Đơn Hàng</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("STT")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayName("Hình ảnh")
        </th>
        <th>
            @Html.DisplayName("Giá")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_product_amount)
        </th>
        <th>@Html.DisplayName("Thành Tiền")</th>
    </tr>
     @{
        int i = 1;
        double TongThanhTien = 0;
    }
    @foreach (var item in Model)
    {
        foreach (NongSanDungHa.Models.ADO.product pro in ViewBag.Product as List<NongSanDungHa.Models.ADO.product>)
        {
            if (pro.product_id == item.product_id)
            {
                double thanhtien = Convert.ToDouble(Convert.ToDouble(pro.product_price) * item.order_product_amount);
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product_name)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => pro.product_thumbnail_image)" style="width:100px;height:100px" />
                    </td>
                    <td>
                        @string.Format("{0:0,0.000} đ", pro.product_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_product_amount)
                    </td>
                    <td>
                        @string.Format("{0:0,0.000} đ", thanhtien)
                    </td>
                </tr>
                TongThanhTien += thanhtien;
            }
        }
        i++;
    }
</table>
  
<div class="d-flex w-100 justify-content-between">
    <p> @Html.ActionLink("Trở về", "Index", "user_order", new { @class = "btn btn-success" })</p>
    <p style="text-align:end;font-size:25px;font-weight:bold;">Phí Vận Chuyển : 30.000 đ</p>
    <p style="text-align:end;font-size:25px;font-weight:bold;color:red">Tổng Thành Tiền :  @string.Format("{0:0,0.000} đ", TongThanhTien+30)</p>
</div>

