@using PagedList;
@using PagedList.Mvc;
@model PagedList<NongSanDungHa.Models.ADO.product_image>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Hình ảnh sản phẩm</h2>
<div class="d-flex w-100 justify-content-between mb-3">
    <a class="btn btn-success" href="@Url.Action("CreateNew")"><i class="fas fa-plus"></i></a>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/Admin/product_image/SearchResult" method="get">
        <div class="input-group">
            <input type="search" class="form-control bg-light border-0 small" placeholder="Nhập id sản phẩm"
                   aria-label="Search" aria-describedby="basic-addon2" name="searchKey">
            <div class="input-group-append">
                <button class="btn btn-primary" style="background-color: #52a851;" type="submit" name="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <p>

        Tổng số ảnh: @ViewBag.TotalProductImage
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Hình ảnh")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                <img style="width:100px;height: 100px" src="@item.product_image_file_name" />

            </td>

            <td>
                @Html.ActionLink(" ", "Detail", new { id = item.product_image_id }, new { @class = "fas fa-eye btn btn-success me-1" })
                @Html.ActionLink(" ", "Edit", new { id = item.product_image_id }, new { @class = "fas fa-edit btn btn-warning me-1" })
                @Html.ActionLink(" ", "Delete", new { id = item.product_image_id }, new { @class = "fas fa-trash-alt btn btn-danger me-1" })   
            </td>
        </tr>
    }

</table>
<nav aria-label="Page navigation example" style="display: flex;justify-content:center;align-items:center">
    <ul class="pagination ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>