@model IEnumerable<NongSanDungHa.Models.ADO.product_image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Hình ảnh sản phẩm</h2>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/Admin/product_image/SearchResult" method="get">
    <div class="input-group">
        <input type="search" class="form-control bg-light border-0 small" placeholder="Search by product id"
               aria-label="Search" aria-describedby="basic-addon2" name="searchKey">
        <div class="input-group-append">
            <button class="btn btn-primary" style="background-color: #52a851;" type="submit" name="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<p>
    @Html.ActionLink("Thêm mới", "CreateNew")
</p>
<p>

    Tổng số ảnh: @ViewBag.TotalProductImage
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_image_file_name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                <img style="width:100px;height: 100px" src="@item.product_image_file_name" />

            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.product_image_id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.product_image_id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.product_image_id })
            </td>
        </tr>
    }

</table>
