@model NongSanDungHa.Models.ADO.product_review

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa</h2>

<div>
    <h4>Đánh giá người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_review_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_review_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_account_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_account_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_review_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_review_content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.review_owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.review_owner)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.product_review_id }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
