@model NongSanDungHa.Models.ADO.product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Thông tin Chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @{ 
                var item = Model.product_description;
            }
            @Html.Raw(item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_thumbnail_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_thumbnail_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.product_id, category_id = Model.product_category_id }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
