
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@{
    var user = Session["User"] as NongSanDungHa.Models.admin_account;
    <style>
        .card .card-statistic-3 .card-icon {
            padding-right: 5px;
            right: 0px;
        }
    </style>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-3">

            <a href="@Url.Action("Index", "product")">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số lượng sản phẩm</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalProducts
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-xl-3 col-lg-3">

            <a href="@Url.Action("Index", "Category")">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng loại sản phẩm</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalCategories
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3">
            <a href="@Url.Action("Index","user_order")">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số đơn hàng</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalOrders
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-xl-3 col-lg-3">
            <a href="@Url.Action("Index","AccountUser")">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số số tài khoản</h5>
                        </div>
                        <div class="col-4 text-right">

                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        @ViewBag.TotalAccounts
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3">
             <div class="card l-bg-orange-dark">
                 <div class="card-statistic-3 p-4">
                     <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                     <div class="mb-4">
                         <h5 class="card-title mb-0">Doanh thu tháng @ViewBag.current_month</h5>
                     </div>
                     <div class="row align-items-center mb-2 d-flex">
                         <div class="col-8">
                             <h2 class="d-flex align-items-center mb-0">
                                 @string.Format("{0:0,0.000}", @ViewBag.MonthlyRevenue) đ
                             </h2>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
            <div class="col-xl-3 col-lg-3">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Doanh thu năm @ViewBag.current_year</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @string.Format("{0:0,0.000}", @ViewBag.YearlyRevenue) đ
                                </h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>

