
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@{
    var user = Session["User"] as NongSanDungHa.Models.admin_account;
    <style>
        .card .card-statistic-3 .card-icon {
            padding-right: 5px;
            right: 0px;
        }
    </style>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-3">

            <a href="@Url.Action("Index", "product")">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số lượng sản phẩm</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalProducts
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-xl-3 col-lg-3">

            <a href="@Url.Action("Index", "Category")">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng loại sản phẩm</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalCategories
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3">
            <a href="@Url.Action("Index","user_order")">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số đơn hàng</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @ViewBag.TotalOrders
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-xl-3 col-lg-3">
            <a href="@Url.Action("Index","AccountUser")">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tổng số số tài khoản</h5>
                        </div>
                        <div class="col-4 text-right">

                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        @ViewBag.TotalAccounts
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row">
        
        <div class="col-xl-3 col-lg-3">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Doanh thu năm @ViewBag.current_year</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                @string.Format("{0:0,0.000}", @ViewBag.YearlyRevenue) đ
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script>

        let myChart = document.getElementById('myChart').getContext('2d');
        $.get("/Admin/Dashboard/GetRevenues", function (res) {
            GetRevenues(res);
        })

        function formatMonth(month) {
            // Format month to Vietnamese
            const options = { month: 'long' };
            return new Date(2000, month - 1).toLocaleString('vi-VN', options);
        }

        function formatCurrency(value) {
            // Format value to VND
            return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace('₫', '.000 vnđ').trim();
        }
        function GetRevenues(res) {
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';
            console.log(res);
            var lstLabel = [];
            var lstData = [];
            $.each(res, function (index, item) {
                lstLabel.push(formatMonth(item.Month));
                lstData.push(item.Revenue);
            })

            let massPopChart = new Chart(myChart, {
                type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: lstLabel,
                    datasets: [{
                        label: 'Doanh Thu',
                        data: lstData,
                        /* backgroundColor:'#52a851',*/
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)',
                            'rgba(255, 99, 132, 0.6)'
                        ],
                        borderWidth: 1,
                        borderColor: '#777',
                        hoverBorderWidth: 3,
                        hoverBorderColor: '#000'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Doanh Thu Theo Tháng Năm 2023',
                        fontSize: 25
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true,
                        callbacks: {
                            label: function (tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].label + ': ' + formatCurrency(tooltipItem.yLabel);
                            
                            }
                        }
                    }
                }
            });
        }
                // Global Options

    </script>


}
