@using PagedList;
@using PagedList.Mvc;
@model PagedList<NongSanDungHa.Models.ADO.user_account>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Tài khoản Người dùng</h2>

<p>
   
</p>
<div class="d-flex w-100 justify-content-between mb-3">
    <a class="btn btn-success" href="@Url.Action("CreateNew")"><i class="fas fa-plus"></i></a>


    <p style="text-align:right">Tổng số tài khoản: @ViewBag.ToTalUser</p>
</div>
<div class="alert alert-danger" id="alert_delete_failed" style="display:none" role="alert">
    Xóa thất bại do dữ liệu có thể đang được sử dụng
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên tài khoản")
        </th>
        <th>
            @Html.DisplayName("Mật khẩu")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("SĐT")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Tên")
        </th>
        <th>
            @Html.DisplayName("Họ")
        </th>
        <th>
            @Html.DisplayName("Hạng")
        </th>
        <th>
            @Html.DisplayName("Điểm")
        </th>
        <th></th>
    </tr>
    @*<tbody id="user-account-content">
    </tbody>*@
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_member_tier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_point)
                </td>
                <td>
                    <button type="button" name="View" data-bs-toggle="modal" onclick="return User_Details(@item.user_account_id)" data-bs-target="#ModalView" class="btn btn-success me-1"><i class="fas fa-eye"></i></button>
                    <a class="btn btn-warning me-1" href="/Admin/AccountUser/Edit/@item.user_account_id"><i class="fas fa-edit"></i></a>
                
                    <a class="btn btn-danger" href="/Admin/AccountUser/Delete/@item.user_account_id">
                        <i class="fas fa-trash-alt"></i>
                    </a>

                    

                </td>
            </tr>
        }
    }

</table>
<div class="modal fade" id="ModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayName("Tên tài khoản")
                    </dt>
                    <dd>
                        <input type="hidden" id="user_id" />
                        <input type="text" id="username" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Mật khẩu")
                    </dt>
                    <dd>
                        <input type="text" id="password" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Giới tính")
                    </dt>
                    <dd>
                        <input type="text" id="firstname" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Email")
                    </dt>
                    <dd>
                        <input type="text" id="lastname" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("SĐT")
                    </dt>
                    <dd>
                        <input type="text" id="gender" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Địa chỉ")
                    </dt>
                    <dd>
                        <input type="text" id="address" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Tên")
                    </dt>
                    <dd>
                        <input type="email" id="email" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Họ")
                    </dt>
                    <dd>
                        <input type="number" id="phonenumber" class="form-control" />
                    </dd>
                    <dt>
                        @Html.DisplayName("Hạng")
                    <dd>
                        <input type="text" id="tier" class="form-control" />
                    </dd>
                    <dt>
                         @Html.DisplayName("Điểm")
                    </dt>
                    <dd>
                        <input type="number" id="point" class="form-control" />
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" name="save" id="btn-savechanges" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" style="display: flex;justify-content:center;align-items:center">
    <ul class="pagination ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
    </ul>
</nav>