
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>

        .nav-pills .nav-link.active {
            background-color: #52a851;
        }

        .green {
            color: #52a851;
        }

        .form-check-input[type=checkbox]:checked {
            background: #52a851;
        }
        .mgt{
            margin-top: 50px;
        }
    </style>
}

@model NongSanDungHa.Models.user_account

@{
    var message = ViewBag.message;
}

<div class="row justify-content-center mgt">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="container w-50 card o-hidden border-0 shadow-lg" style="border: 1px solid black">
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" class="nav-link" id="tab-register" href="/User/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-register" href="/User/Login">Login</a>
                </li>

            </ul>

            @if (!string.IsNullOrEmpty(message))
            {
                <h3 style="color:red">@message</h3>
            }
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                <div class="text-center mb-3">
                    <p>Sign in with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f green"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google green"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter green"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github green"></i>
                    </button>
                </div>
                <p class="text-center">or:</p>
                @Html.ValidationSummary(true)
                <div class="form-outline mb-4">
                    <label for="user_username">Username</label>
                    @Html.TextBoxFor(model => model.user_username, new
                    {
                          @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_username, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_password">Password</label>
                        @Html.PasswordFor(model => model.user_password, new
                        {
                           @class = "form-control",
                        })
                        @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_gender">Gender</label>
                    @Html.TextBoxFor(model => model.user_gender, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_gender, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_email">Email</label>
                    @Html.TextBoxFor(model => model.user_email, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_phonenumber">Phone number</label>
                    @Html.TextBoxFor(model => model.user_phonenumber, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_phonenumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_address">Address</label>
                    @Html.TextBoxFor(model => model.user_address, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_address, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-4">
                    <label for="user_firstname">First name</label>
                    @Html.TextBoxFor(model => model.user_firstname, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_firstname, "", new { @class = "text-danger" })
                </div>

                <div class="form-outline mb-4">
                    <label for="user_lastname">Last name</label>
                    @Html.TextBoxFor(model => model.user_lastname, new
                    {
                       @class = "form-control",
                    })
                    @Html.ValidationMessageFor(model => model.user_lastname, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-success btn-block mb-3">Create</button>
            }
        </div>
    </div>
</div>