
@{
    ViewBag.Title = "ShowDetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .button-cart
        {
          display: flex;
          justify-content:space-between;
        }
        .button-cart button
        {
            width: 185px;
            height: 45px;
        }
    </style>
}
@model List<NongSanDungHa.Models.product>
@using NongSanDungHa.Models
<div class="container mt-4">
    <div class="row">
        <div class="col-md-5 mb-5">

            <!-- Carousel wrapper -->
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                <!-- Slides -->
                <div class="carousel-inner mb-5">
                    @{
                        foreach (product_image item in ViewBag.Image)
                        {
                            <div class="carousel-item active">
                                <img style="height: 500px" src="@item.product_image_file_name" class="d-block w-100"
                                     alt="..." />
                            </div>
                        }

                    }

                </div>
                <!-- Slides -->
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <!-- Controls -->
                <!-- Thumbnails -->
                <div class="carousel-indicators" style="position: relative; top: -50px;margin-bottom: 20px">
                    @{
                        int i = 0;
                        foreach (product_image item in ViewBag.Image)
                        {
                            if (i < ViewBag.ImageCount)
                            {
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="@(i.ToString())" class="active"
                                        aria-current="true" aria-label="Slide " style="width: 100px;">
                                    <img style="height:100px" class="d-block w-100 img-fluid"
                                         src="@item.product_image_file_name" />
                                </button>
                                i++;
                            }

                        }

                    }



                    


                </div>
                <!-- Thumbnails -->
            </div>
            <!-- Carousel wrapper -->


        </div>
        <div class="col-md-7">
            @{
                foreach (product pro in Model)
                {
                    foreach (product_category item in ViewBag.NameCategory)
                    {
                        <h3 style="color: #939393; font-size: 20px; font-weight: bold">@Html.ActionLink("Trang Chủ", "Index", "", new { style = "color: #939393" }) / @Html.ActionLink(item.product_category_name, "ShowCategory", new { id = item.product_category_id }, new { style = "color: #939393" }) / @pro.product_name</h3>
                    }
                }

            }
            <div class="row mt-3">
                @foreach (product pro in Model)
                {
                    <h1 style="color: #28a745;font-size:40px; font-weight: 700">@pro.product_name</h1>
                }

            </div>
            <div class="row mt-3 mb-3">
                <hr />
            </div>
            <div class="row mt-3 mb-3" style="font-size: 22px">
                <p class="mb-2">Bảng giá Hồ Chí Minh</p>
                <table class="table" style="font-size: 20px">
                    <thead>
                        <tr>
                            <th scope="col">Phân Loại</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Thành Tiền</th>
                        </tr>
                    </thead>
                    @foreach (product item in Model)
                    {
                        <tbody>
                            <tr style="border-color:white; border-style:none">
                                <th scope="row">1 kg</th>
                                <td>@item.product_price đ</td>
                                <td>
                                    <div class="btn-group" style="width: 30%" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-success ">-</button>
                                        <input class="form-control btn-outline-success" type="text" placeholder="0" aria-label="default input example">
                                        <button type="button" class="btn btn-outline-success">+</button>
                                    </div>
                                </td>
                                <td>0</td>
                            </tr>

                        </tbody>
                    }

                </table>
                <div class="button-cart">
                    <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-danger">Mua Lẻ</button>
                    <button type="button" class="btn btn-primary">Mua Sỉ</button>

                </div>
            </div>
            <div class="row mt-3 mb-3">
                <hr />
            </div>
        </div>
    </div>
</div>
