@model List<NongSanDungHa.Models.product>
@using NongSanDungHa.Models
@{
    ViewBag.Title = "ShowCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12">
            @{
                foreach (product_category item in ViewBag.NameCategory)
                {
                    <h3 style="color: #939393; font-size: 20px; font-weight: bold">@Html.ActionLink("Trang Chủ", "Index", "", new { style = "color: #939393" }) / @item.product_category_name</h3>
                }
            }

        </div>
    </div>


    <div class="row">
        @{
            foreach (product item in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-3" style="width: 19rem">
                        <img style="height: 265px" src="@item.product_thumbnail_image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="height:48px">@Html.ActionLink(item.product_name, "ShowDetailProduct", new { id = item.product_id, product_category_id = item.product_category_id })</h5>
                            <p class="card-text text-center" style="font-weight: 500">HCM: @item.product_price</p>
                            @Html.ActionLink("Mua Ngay", "ShowDetailProduct", new { id = item.product_id, product_category_id = item.product_category_id }, new { @class = "btn btn-primary", style = "width: 100%; background-color: #52a851; border-color: white" })

                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>